<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Home</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <script scr="../controllers/homepageControlles.js"></script>
  </head>
  <body>
      <%- include('./header') %>

      <main>
        <h2><%= obj.mainCategory %></h2>
        <p><%= obj.categoryDesc %></p>

        <% obj.mens.forEach(function(elem){ %>
            <h3><%= elem.name %></h3>
            <img src="/images/<%= elem.image %>" alt="<%= elem.id %>">
            <p><%= elem.page_description %></p>

            <% if(obj.mainCategory == "Mens" || obj.mainCategory == 'Womens') {%>
              <a href="/category/<%= obj.mens[1].parent_category_id %>/<%= elem.name.toLowerCase() %>">
                <button>VIEW CATEGORIES</button>
              </a>
            <% } else {%>
              <a href="/products/<%= elem.id %>">
                <button>VIEW PRODUCTS</button>
              </a>
            <% } %>
            <hr>
        <% }); %>
      </main>

      <footer>Copyright 2020 OSF Digital</footer>
  </body>
</html>