<!DOCTYPE html>
<html>
  <head lang="en">
    <title><%= result[0].name %></title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('./header') %>

      <main>
        <div class='product-page'>
            <h3 class='product-name'><%= result[0].name %></h3>
            <div class="product-info">
                <img class="product-imgL" src="/images/<%= result[0].image_groups[0].images[0].link %>" alt="<%= result[0].image_groups[0].images[0].alt %>">
                <div class="product-text">
                    <p style="margin-left: 10px;"><%= result[0].long_description %></p>
                    <div class="product-btn">
                        <a style="align-self: center;margin-left: 10px;" href="/products/<%= result[0].primary_category_id %>/<%= result[0].id %>">
                            <button>BUY NOW</button>
                        </a>
                        <p style="margin-left: 10px;">Price: $ <%= result[0].price %></p>
                    </div>
                </div>
            </div>
        </div>
      </main>

      <hr>

      <footer>Copyright 2020 OSF Digital</footer>
  </body>
</html>