<!DOCTYPE html>
<html>
  <head lang="en">
    <link rel='stylesheet' type='text/css' href='/stylesheets/header.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/products.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Products</title>
  </head>
  <body>
      <%- include('./header') %>
      <%- include('./breadcrumbs') %>

      <main class="main-grid">
        <% result.forEach(function(elem){ %>
            <div class="product-elem">
                <h3><%= elem.name %></h3>
                <div>
                    <img src="/images/<%= elem.image_groups[0].images[0].link %>" alt="<%= elem.image_groups[0].images[0].alt %>">
                    <div class="product-text">
                        <p><%= elem.short_description %></p>
                        <div class="product-btn">
                            <p>Price: $ <%= elem.price %></p>
                            <a href="/products/<%= elem.primary_category_id %>/<%= elem.id %>">
                                <button>MORE INFO</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
      </main>

      <hr>

      <footer>Copyright 2020 OSF Digital</footer>
  </body>
</html>