<!DOCTYPE html>
<html>
  <%- include('./head') %>
  <body>
      <%- include('./header') %>
      <%- include('./breadcrumbs') %>
      <main>


        <div id="product-elem">
            <h3><%= product.name %></h3>
            <div>
              <div class="img-div-product">
                <img src="/images/<%= product.image_groups[0].images[0].link %>" alt="<%= product.image_groups[0].images[0].alt %>">
              </div>
                <div class="product-text">
                    <div class="description-p"><%= product.long_description %></div>

                    <div>
                      <p>Product variants:</p>
                      <% product.variation_attributes.forEach(function(attribute){ %>
                        <div class="variants-div">
                          <p><%= attribute.name %>:</p>
                          <% attribute.values.forEach(function(variant){ %>
                            <button class="<%= attribute.id %>Variant" name="<%= attribute.id %>" value="<%= variant.value %>"><%= variant.name %></button>
                          <% }); %>
                        </div>
                      <% }); %>
                    </div>
                    <div id="quantity">
                      <p>Quantity</p>
                      <div class="quantity">
                        <button class="minus">-</button>
                        <p>1</p>
                        <button class="plus">+</button>
                      </div>
                    </div>
                    <div class="product-btn">
                        <% if(user === "none") {%>
                          <a href="/cart"><button value="<%= product.id %>">ADD TO CART</button></a>
                          <a href="/wishlist"><button value="<%= product.id %>">ADD TO WISHLIST</button></a>
                        <% } else if(product.variants.length < 1) {%>
                          <button disabled>SOLD OUT</button></a>
                        <% } else {%>
                          <button class="addToCart" value="<%= product.id %>" id="<%= product.variants[0].product_id %>">ADD TO CART</button>
                          <button class="addToWishlist" value="<%= product.id %>" id="<%= product.variants[0].product_id %>">ADD TO WISHLIST</button>
                          <p class="price">Price: $ <%= product.price %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        
      </main>
      <script src="/javascripts/variation.js"></script>
      <script src="/javascripts/add.js"></script>
      <%- include('./footer') %>
  </body>
</html>