<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Products</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <script scr="../controllers/homepageControlles.js"></script>
  </head>
  <body>
      <%- include('./header') %>
    <div id="navbar">
        <a href='#'>Home</a>
        <% links.forEach(function(elem){ %>
            <a href='<%= elem.link %>'><%= elem.ap %></a>
        <% }); %>
    </div>

      <main class='grid-main'>
        <% result.forEach(function(elem){ %>
            <div class='product-div'>
                <h3 class='product-name'><%= elem.name %></h3>
                <div class="product-info">
                    <img class="product-img" src="/images/<%= elem.image_groups[0].images[0].link %>" alt="<%= elem.image_groups[0].images[0].alt %>">
                    <div class="product-text">
                        <p style="margin-left: 10px;"><%= elem.short_description %></p>
                        <div class="product-btn">
                            <p style="margin-left: 10px;">Price: $ <%= elem.price %></p>
                            <a style="align-self: center;" href="/products/<%= elem.primary_category_id %>/<%= elem.id %>">
                                <button>MORE INFO</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
      </main>

      <hr>

      <footer>Copyright 2020 OSF Digital</footer>
  </body>
</html>