<!DOCTYPE html>
<html>
    <%- include('./head') %>
  <body>
      <%- include('./header') %>
      <%- include('./breadcrumbs') %> 

      <main>
        <div id="profile">
            <h3>Profile:</h3>
            <p>Email: <%= user.user.email %></p>
            <p>Registered: <%= date %></p>
        </div>
        <div id="cart-wish">
            <a href="/cart"><button class="icon"><i class="fas fa-shopping-cart"></i><sub><%= cart %></sub></button></a>
            <a href="/wishlist"><button class="icon"><i class="fas fa-clipboard-list"></i><sub><%= wishlist %></sub></button></a>
        </div>

        <% if(orders === 'No orders') {%>
          <h2>No orders</h2>
        <% } else {%>
          <% orders.forEach(function(elem){ %>
            <div class="order">
              <table class="ordered-products">
                <h3>Order № <%= elem.paymentId %></h3>
                <thead>
                  <th class="th-img"></th>
                  <th class="th-product">Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                </thead>
                <tbody>
                  <% elem.items.forEach(function(elem) { %>
                    <tr>
                      <td>
                        <img src="" alt="">
                      </td>
                      <td class="productId" id="<%= elem.productId %>">product name</td>
                      <td id="ordered-product-price">$<%= elem.variant.price %></td>
                      <td id="ordered-product-quantity"><%= elem.quantity %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          <% }); %>
        <% } %>
      </main>

      <%- include('./footer') %>
      <script src="/javascripts/getProductNames.js"></script>
  </body>
</html>