<!DOCTYPE html>
<html>
    <%- include('./head') %>
  <body>
      <%- include('./header') %>
      <%- include('./breadcrumbs') %> 
    <div class="container">
        <main class="cart-wish">
            <% if(result === 'no items') {%>
                <h1>No items in wishlist</h1>
            <% } else {%>
            <table>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Variation</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                </tr>
                <% result.items.forEach(function(elem){ %>
                    <tr class="product-cart" value="<%= elem.productId %>" id="<%= elem.variant.product_id %>">
                        <td>
                            <div class="img-cart">
                                <img src="" alt="" id="<%= elem.variant.variation_values ? elem.variant.variation_values.color : 'none' %>">
                            </div>
                        </td>
                        <td class="product-name"></td>
                        <td class="price">$<%= elem.variant.price %></td>
                        <td class="primary-category-id"></td>
                        <td class="variantions"></td>
                        <td>
                            <div class="quantity">
                                <button class="minus">-</button>
                                <p class="product-quantity"><%= elem.quantity %></p>
                                <button class="plus">+</button>
                              </div>
                        </td>
                        <td class="total"></td>
                        <td class="trash"><i class="fas fa-trash"></i></td>
                        <td class="product-btn"><button class="addToCart" value="<%= elem.productId %>" id="<%= elem.variant.product_id %>">ADD TO CART</button></td>
                    </tr>
                <% }); %>
            </table>
            <% } %>
          </main>
    </div>

      <%- include('./footer') %>
      <script type="module" src="/javascripts/add.js"></script>
      <script type="module" src="/javascripts/removeItem.js"></script>
      <script type="module" src="/javascripts/loadProducts.js"></script>
      <script type="module" src="/javascripts/changeQuantity.js"></script>
  </body>
</html>